body {
  background: hsl(176, 71%, 18%);
}
.bg1 {
  background-image: url("../images/gallery/IMG-20240423-WA0013.jpg");
}
.bg2 {
  background-image: url("../images/gallery/IMG-20240423-WA0025.jpg");
}
.bg3 {
  background-image: url("../images/gallery/IMG-20240423-WA0031.jpg");
}
.bg4 {
  background-image: url("../images/gallery/IMG-20240423-WA0033.jpg");
}
.button,
button {
  color: white;
  background: #1ca69d;
}
input {
  border: solid 1px #1ca69d;
}
input[type="submit"] {
  background-color: #1ca69d;
}
