input {
  color: white;
  background-color: black;
  border: solid 1px blue;
  border-radius: 5px;
}
input[type="submit"] {
  background-color: blue;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
form li {
  color: hotpink;
}
